/* Theme */

$primary-color: #fff;
$secondary-color: #340458;
$bg-color: #fed636;
$font-stack: 'Open Sans', 'Helvetica', sans-serif;

/* End Theme */

/* Header tag Styles */

.h1-welcome {
    font-weight: 600;
}

.h1-border-background {
    color: $primary-color;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    width: 10%;
}

.h1-border-background::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    /* Adjusts the spacing between h1 and border */
    background-color: $primary-color;
}

/* Form Styles */

.form-style {
    background-color: $bg-color;
    color: $secondary-color;
    border-radius: 5px;
}

//This needs to be diplay block in order for the password error to appear
.invalid-feedback {
    display: block !important;
}

button.btn-custom {
    background-color: $secondary-color;
    color: $primary-color;
    text-transform: uppercase;
    font-weight: bold;
}